* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #202028;
	color: #FFF;
	font-family: sans-serif;
	text-align: center;
	font-size: 2em;
}

#container {
	width: 100%;
	max-width: 1024px;
	margin: 25px auto 0;
	/* inline-block fix */
	font-size: 0;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.90);
	color: white;
	font-size: 2rem;
	z-index: 1;
}

#pause-screen:hover {
	cursor: pointer;
}

#counters,
#directions,
#game-container {
	display: inline-block;
}

#counters,
#directions {
	width: 25%;
	vertical-align: top;
}

#counters {
	font-size: 2rem;
}

#pause {
	margin: 20px 0;
}

#restart-game-button,
#start-game-button,
#pause-button,
#show-directions-button {
	padding: 10px;
	border: 2px solid #FFF;
	border-radius: 4px;
}

#restart-game-button:hover,
#start-game-button:hover,
#pause-button:hover,
#show-directions-button:hover {
	cursor: pointer;
	color: #000;
	background-color: #FFF;
	border-color: #000;
}

#restart-game-button {
	margin-top: 20px;
}

#game-container {
	width: 50%;
}

canvas {
	border: solid .2rem #FFF;
	height: 50vh;
}

#preview {
	height: 25vh;
}

#directions {
	position: relative;
}

#directions.hidden {
	display: none;
}

#directions h1 {
	font-size: 2rem;
}

#directions p {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#hide-directions-button {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	color: white;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
}

#show-directions {
	display: inline-block;
	vertical-align: top;
}

#show-directions-button {
	display: none;
	width: 150px;
	padding: 15px;
	background-color: #000;
	color: #FFF;
	font-size: 16px;
}
